<div class="panel panel-default" ng-controller="ShortenCtrl">
  <div class="panel-body">
    <h1>Sh'ten!!</h1>
    <form name="urlForm" ng-submit="shorten()">
      <div class="input-group">
        <input class="form-control" ng-model="url.original">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div>
    </form>
  </div>
  <div class="panel-body">
    <p>{{url.shortened}}</p>
  </div>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
