<div class="panel panel-default" ng-controller="ShortenCtrl">
  <div class="panel-body">
    <h4>Your long boring URL:</h4>
    <form name="urlForm" ng-submit="shorten()">
      <div class="input-group">
        <input class="form-control" ng-model="url.original">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Shorten!</button>
        </span>
      </div>
    </form>
  </div>
  <div class="panel-body">
    <p>{{url.shortened}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the <strike>Yeoman</strike>R42 team</p>
</div>
